version: '3.8'

services:
  gateway:
    build:
      context: ../gateway
      dockerfile: Dockerfile
    ports:
      - "5921:5921"
    environment:
      - GATEWAY_PORT=5921
      - BACKEND_URL=http://backend:3847
      - PORT=5921
    depends_on:
      - backend
    networks:
      - app-network
    restart: always

  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - MONGO_URI=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongodb:27017/${MONGO_DATABASE}?authSource=admin
      - PORT=3847
    depends_on:
      mongodb:
        condition: service_healthy
    networks:
      - app-network
    restart: always

  mongodb:
    image: mongo:6
    env_file:
     .env
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
      - MONGO_INITDB_DATABASE=${MONGO_DATABASE}
    volumes:
      - mongodb_data:/data/db
      - ./mongodb-init.js:/docker-entrypoint-initdb.d/mongodb-init.js:ro
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always

volumes:
  mongodb_data:

networks:
  app-network:
    driver: bridge